---
---

@import "{{ site.theme }}";
html, body {
    font-size: 16px;
}
body {
    background: #eae6d1;
}
#banner {
    width: 100%;
    #logo {
        display: none;
    }
}
section {
	width: 740px;
}
nav {
    background: #eae6d1;
    width: 230px;
    position: absolute;
    left: calc(50% - 575px);
    text-align: right;
    margin: 0;
    top: 0;
    z-index: 10;
    .tag-h1 {
        display: none;
    }
}
footer {
    width: 230px;
    position: fixed;
    left: calc(50% - 575px);
    bottom: 20px;
    text-align: right;
    margin: 0;
}


section ul {
    list-style-image: none;
}

nav ul li.tag-h2 a {
    font-size: 1.2rem;
    color: #000;
}

.tag-h2 a:hover {
    text-decoration: underline;
}

.tag-h2 a::after {
    content: "\276F";
    display: inline-block;
    padding: 0 0 0 5px;
}

.tag-h3 a:hover {
    text-decoration: underline;
}
