---
---

@import "{{ site.theme }}";

section {
	width: 740px;
}
nav {
    width: 230px;
    position: absolute;
    top: 0;
    left: -250px;
    text-align: right;
}
footer {
	width: 230px;
    position: fixed;
    left: calc(50% - 120px);
    margin-left: -530px;
    bottom: 20px;
    text-align: right;
}